#about_me{
  color: ;
  text-align: center;
}

#about_me_sub{
  color: ;
  text-align: center;
}

.hero-body{
  background-color: #35495e;
}

.navbar-brand{
  background-color: #35495e;
}

a.buttons{
  color: #35495e;
}
