@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  background-color: #042a2b;
  color: #5eb1bf;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Proxima";
  box-sizing: border-box;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#scroll-carousel::-webkit-scrollbar {
  display: none;
}

#scroll-carousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Proxima";
  src: url("./font/Proxima Nova Regular.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima";
  src: url("./font/Proxima Nova Bold.otf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Proxima";
  src: url("./font/Proxima Nova Extrabold.otf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Proxima";
  src: url("./font/ProximaNova-Thin.otf");
  font-style: normal;
  font-weight: 100;
}
